/* Footer Area css
============================================================================================ */
.footer_area{
	background: #000410;
	padding: 80px 0;
}
.footer_inner{
	
}
.f_widget{}
.f_title{
	margin-bottom: 35px;
	h3{
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		font-family: $hee;
		margin-bottom: 0px;
		text-transform: uppercase;
	}
}
.ab_widget,
.news_widget,
.social_widget{
	display: none;
}

.contact_widget,
.credits_widget{
	p{
		font-size: 15px;
		line-height: 26px;
		color: #f1f5f9;
		margin-bottom: 15px;
		a{
			color: $baseColor;
			text-decoration: none;
		}
	}
}
.copy_right_text{
	text-align: center;
	margin-top: 60px;
	p{
		a{
			color: $baseColor;
		}
	}
}

/* End Footer Area css
============================================================================================ */
